<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">

  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %p %c{1} [%t] %m%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="org" level="INFO"/>

    <Root level="INFO">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>

</Configuration>
