<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
      PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
      "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>orktrack</display-name>
    <context-param>
    	<param-name>ConfigDirectory</param-name>
    	<param-value>c:/oreka/</param-value>
    </context-param>
    <context-param>
    	<param-name>Log4jConfigFile</param-name>
    	<param-value>logging.properties</param-value>
    </context-param>
    <context-param>
    	<param-name>ConfigFile</param-name>
    	<param-value>orktrack.config.xml</param-value>
    </context-param>
    <context-param>
    	<param-name>HibernateConfigFile</param-name>
    	<param-value>database.hbm.xml</param-value>
    </context-param>
    <filter>
        <filter-name>redirect</filter-name>
        <filter-class>org.apache.tapestry.RedirectFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>redirect</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>
 	<listener>
		<listener-class>net.sf.oreka.orktrack.ContextListener</listener-class>
	</listener>
    <servlet>
        <servlet-name>command</servlet-name>
        <servlet-class>net.sf.oreka.orktrack.CommandServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>command</servlet-name>
        <url-pattern>/command</url-pattern>
    </servlet-mapping>
</web-app>
