Options +MultiViews

ErrorDocument 404 /404.php

RewriteEngine On
RewriteBase /

# Redirect URLs from previous version of site
#RewriteRule ^index.php(.*) ./$1 [R=permanent]
RewriteRule ^about.php(.*) about/$1 [R=permanent]
RewriteRule ^contact.php(.*) contact/$1 [R=permanent]
RewriteRule ^credits.php(.*) about/credits$1 [R=permanent]
RewriteRule ^cvs.php(.*) community/developers$1 [R=permanent]
RewriteRule ^devel.php(.*) community/developers$1 [R=permanent]
RewriteRule ^donatemoney.php(.*) community/donate$1 [R=permanent]
RewriteRule ^donatetime.php(.*) community/$1 [R=permanent]
RewriteRule ^faq.php(.*) help/faq$1 [R=permanent]
RewriteRule ^help.php(.*) help/$1 [R=permanent]
RewriteRule ^links.php(.*) about/links$1 [R=permanent]
RewriteRule ^mac.php(.*) download/mac$1 [R=permanent]
RewriteRule ^nyquist.php(.*) help/nyquist$1 [R=permanent]
RewriteRule ^nyquist2.php(.*) help/nyquist2$1 [R=permanent]
RewriteRule ^nyquist3.php(.*) help/nyquist3$1 [R=permanent]
RewriteRule ^nyquistplugins.php(.*) download/nyquistplugins$1 [R=permanent]
RewriteRule ^plugins.php(.*) download/plugins$1 [R=permanent]
RewriteRule ^privacy.php(.*) contact/privacy$1 [R=permanent]
RewriteRule ^screenshots.*.php(.*) about/screenshots$1 [R=permanent]
RewriteRule ^stablenotes.php(.*) download/release-notes$1 [R=permanent]
RewriteRule ^translation community/translation [R=permanent]
RewriteRule ^tutorials.php help/tutorials$1 [R=permanent]
RewriteRule ^unix.php(.*) download/linux$1 [R=permanent]
RewriteRule ^windows.php(.*) download/windows$1 [R=permanent]

# Redirect really old URLs.
RewriteRule ^index.html . [R=permanent]
RewriteRule ^linux.html download/linux [R=permanent]
RewriteRule ^macos9.html download/mac [R=permanent]
RewriteRule ^macosx.html download/mac [R=permanent]
RewriteRule ^windows.html download/windows [R=permanent]

# Redirect URLs pointing to temporary staging area.
RewriteRule ^new/(.*) $1 [R=permanent]
